
.normal{
    margin: 20px;
    border: solid 2px red;
    padding: 10px;
}

.normal .put{
    font-size: 30px;
    color: blue;
    text-align: center;
    padding: 10px;
}

.normal .txt{
    font-size: 30px;
    color: blue;
    text-align: center;
    padding: 10px;
}